.App {
  text-align: center;
}

body {
  background-color: white;
}

.app__signup {
  display: flex;
  flex-direction: column;
}

.app__form {
  padding: 20px;
  position: fixed;
  bottom: 0;
  z-index: 1;
  width: 100%;
  background-color: #f3f3f3;
  border-top: 1px solid lightgray;
}

.formContainer {
  margin-bottom: 144.5px;
}

.app__title {
  color: white;
  display: block;
  margin-bottom: 5px;
}

.titleContainer {
  background-color: #f5c964;
  padding: 20px; 
}

.MuiButton-contained {
  margin-top: 20px;
}